<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/base/reset.css">
    <link rel="stylesheet" href="../../css/index/main.css">
    <link rel="stylesheet" href="../../css/index/home.css">
    <link rel="stylesheet" href="../../css/redacao/redacao.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Tajawal" rel="stylesheet">
    <title>Check</title>
    <link rel="shortcut icon" href="img/favicon.png">
</head>

<body>
    <header class="header">
        <img src="../../img/logo.png" alt="Logo" class="logo">
        <ul class="infos">
            <li class="info-user"><%= name %></li>
            <li class="info-user"><%= rm %></li>
        </ul>
        <a href="#" class="botao-sair">Sair</a>
    </header>
    <div class="show-redacao">
        <section class="content-page">
            <h2 class="content-title">Visualizar redação</h2>
            <div class="pdf-barra">
                <embed class="pdf-viewer" src="../../pdf/ENEM - Escaneado.pdf" type="application/pdf" width="80%" height="100%">
            </div>
        </section>
    </div>
</body>

</html>